body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
    height: 100vh;
}
.head h1
{
    margin: 20px;
}
.head
{
    display: flex;
    background-color: #334155;
    color: white;
    display: flex;
    padding: 10px 5px;
    border: 4px solid black;
}

.head i
{
    background-color: #334155;
    color: white;
    height: 100%;
    width: 100px;
    border: none;
    align-self: center;
    font-size: 70px;
    cursor: pointer;
    padding: 10px;
}

.hamburger-items
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    align-items: flex-start;
}

.hamburger-menu
{
    
    width: 30%;
    background-color: #334155;
    margin: 0;
    padding-top: 20px;
    height: calc(100vh - 146px);
    border-left: 4px solid black;
    border-right: 4px solid black;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.hamburger-items li
{
    width: 100%;
    cursor: pointer;
}


.inbox,.project
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.inbox div,.project
{
    display: flex;
    flex-direction: column;
}

.li-items
{
    font-size: 28px;
    font-weight: lighter;
}
.li-items:hover
{
    background-color: grey;
}

#add-project
{
    background: #334155;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    transition: 0.2s all;
}
#add-project:active
{   
    transform: scale(0.98);
}
#add-project 
{
    display: flex;
    gap: 10px;
}

#add-project:hover
{
    background: grey;
}

.sections
{
    display: flex;
    background: #334155;
}

.taskcontainer
{
    padding: 50px;
    color: white;
    width: 100%;
}

.task
{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 28px;
    gap: 20px;
    align-items: baseline;
    border: 2px solid black;
}
.tasks h2
{
    text-align: center;
}
.task i
{
    margin-right: 10px;
    cursor: pointer;
}

.custom-check
{
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    outline: 3px solid black;
    background-color: white;
}



.btn-delete-project
{
    display: none;
    cursor: pointer;
    background-color: grey;
    color: white;
    margin: 0;
    padding: 0;
    border: none;
    margin-left: 5px;
}

.project-header:hover+button
{
    display: inline;
}

.project-header-div:hover
{
    display: flex;
    background: grey;
}

#add-project-form input[type="text"]
{
    width: 100%;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
}

#add-project
{
    display: inline-block;
}

#add-project-form
{
    display: flex;
    margin-top: -30px;
}

.task-buttons
{
    display: none;
    margin-top: 40px;
}

#add-task
{
    display: inline-block;
    padding: 24px 16px;
    height: 80px;
    width: 35%;
    background: #000000;
    border: 2px solid #1A1A1A;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 18px;
    touch-action: manipulation;
    transition: 0.2s all;
}
#add-task:active,button#cancel:active,#add-task-div-button:active
{
    transform: scale(0.98);
}
button#cancel
{
    display: inline-block;
    padding: 24px 16px;
    height: 80px;
    width: 35%;
    background: #FF4742;
    border: 2px solid #FF4742;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 18px;
    touch-action: manipulation;
    transition: 0.2s all;
}

#add-task-div-button
{
    width: 100%;
    padding: 20px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    margin-top: 20px;
    text-align: left;
    transition: 0.2s all;
}

#add-task-div-button:hover
{
    background: grey;
}
#add-task-div-button i
{
    margin-right: 10px;
}
.task-buttons input[type="text"]
{
    display: block;
    padding: 20px;
    width: 76%;
}